.sort__select {
    flex: 1 1 25%;
    margin: 0 1em 1em 0;
    align-content: center;
    text-align: center;
    padding: .5em;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    color: #424242;
    box-shadow: 0 0 2px #787878;
    text-decoration: none;
    cursor: pointer;
}