* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    display: none;
    background: rgba(255, 255, 255, 0.0);
}

.main__section {
    margin-bottom: 3%;
}

.main__title {
    margin: 0 0 .5em;
    padding-left: 3rem;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 2em;
    color: #0055bb
}

.main__article {
    margin: 0 0 .5em;
    max-width: 75%;
    font-size: 1.5em;
    line-height: 200%;
    text-indent: 1em;
    color: #1f1f1f;
}

.main__list {
    padding: 0 0 0 1rem;
}

.main__list-item {
    font-size: 1.5em;
    line-height: 200%;
    color: #1f1f1f;
}

.main__list-item:last-child {
    margin-bottom: 0;
}

.main__list-popular {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0;
    list-style-type: none;
    gap: 2em;
}

.main__list-item-popular {
    flex: 1 1 30%;
}

.main__item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding: 1em;
    background-color: rgba(235, 112, 107, 0.2);
    border: 1px solid #787878;
    border-radius: 20px;
    color: #424242;
    box-shadow: 0 0 2px #787878;
    text-decoration: none;
    cursor: pointer;
}

.main__item-box:hover {
    border: none;
    box-shadow: none;
}

.main-item-text {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    color: #1f1f1f;
}

.main-item-img {
    height: 115px;
    max-height: 80%;
    margin-bottom: 1em;
}

.main-item-img:hover {
    ;
}

/*Страница товаров*/
.shop_wrapper {
    display: grid;
    max-width: 1170px;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
        "shop__product-sizes shop__product-sizes shop__product-sizes shop__product-sizes"
        "shop__product-category shop__card-list shop__card-list shop__card-list";
    grid-gap: .5rem;
}

.shop__product-sizes {
    grid-area: shop__product-sizes;
    display: flex;
}


.shop__size {
    flex: 1 1 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 1rem;
}

.shop__sort,
.shop__product-size-item,
.shop__product-category-item {
    height: 2em;
    align-content: center;
    text-align: center;
    padding: .5em;
    font-size: 1.25em;
    border-radius: 20px;
    color: #424242;
    box-shadow: 0 0 2px #787878;
    text-decoration: none;
    cursor: pointer;
}

.shop__sort {
    flex: 1 1 25%;
    margin: 0 1em 1em 0;
}

.shop__product-category-item:hover,
.shop__product-category-item:checked,
.shop__product-size-item:checked,
.shop__product-size-item:hover {
    background-color: rgba(235, 112, 107, 0.2);
    box-shadow: none;
}

.shop__product-category-item:not(:last-child) {
    margin-bottom: 1em;
}

.shop__product-category {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    grid-area: shop__product-category;
    list-style-type: none;
}


.shop__card-list {
    grid-area: shop__card-list;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.shop__card-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 30%;
    min-width: 200px;
    padding: 1em 1em 0 1em;
    text-align: center;
    background-color: rgba(235, 112, 107, 0.1);
    border-radius: 10px;
    color: #424242;
    box-shadow: 0 0 2px #4f4f4f;
    cursor: pointer;
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position: center 10px;
}

.shop__card-item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 190px;
    flex-direction: column;
    height: 300px;
}

.shop__item-title {
    font-size: 1.5em;
    color: #002e64;
}
.shop__item-rate {
    font-size: 1em;
}
.shop__item-price {
    font-size: 1.5em;
    font-weight: 700;
    color: #002e64;
}
.shop__item-button {
    padding: .5em;
    border: none;
    border-radius: 15px;
    width: 100%;
    color: #002e64;
    background-color: rgba(235, 112, 107, 0.5);
    box-shadow: 0 0 2px #4f4f4f;
    cursor: pointer;
}

.shop__item-button:hover {
    background-color: rgba(235, 112, 107, 1);
    box-shadow: none;
}

.shop__item-button:checked {
    background-color: rgba(235, 112, 107, 1);
}

    /*О компании*/
.aboutus__making-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.aboutus__making-item {
    display: flex;
    width: 80vw;
    max-width: 1150px;
    padding: 2em;
    gap: 2em;
}

.aboutus__making-img {
    flex: 1 1 30%;
    width: 250px;
}

.aboutus__making-desc {
    flex: 1 1 70%;
    text-align: justify;
    font-size: 1.5em;
}

/*Полезные статьи*/
.article__box {
    flex: 1 1 30%;
    padding: 1em;
    text-align: center;
    background-color: rgba(235, 112, 107, 0.2);
    border-radius: 20px;
    color: #424242;
    box-shadow: 0 0 2px #787878;
    cursor: pointer;
}

.shop__card-items:hover,
.article__box:hover {
    box-shadow: none;
}

.article__box-title {
    font-size: 1.5em;
    margin-bottom: .5em;
    color: #0055bb;
}

.article__box-preview {
    font-size: 1em;
    text-align: justify;
}

.article__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/*Футер*/
.footer {
    flex: 0 0 auto;
    bottom: 0;
    width: 100vw;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 85, 187, 0.9);
    backdrop-filter: saturate(1.0) blur(5px);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    max-width: 1170px;
    width: 100%;
    align-items: center;
}

.footer__left,
.footer__right {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-around;
    padding: 0;
}

.footer__list {
    flex: 1 1 50%;
    margin: 0;
    padding: 1em 5px;
    list-style-type: none;
}

.footer__list-item {
    margin-bottom: .5em;
    padding: 0;
    font-size: .75em;
    color: #ffeeee;
}

.footer__list-item:last-child {
    margin-bottom: 0;
}

.footer__address {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.footer__address-item {
    margin-bottom: .5em;
    padding: 0 5px;
    font-size: .75em;
    color: #ffeeee;
}

.footer__address-item:last-child {
    margin: 0;
}


/*Адаптив*/
@media only screen and (max-width: 788px) {
    .footer__left,
    .footer__right {
        flex-direction: column;
        margin-bottom: 0;
        align-items: flex-start;
    }

    .footer {
        height: 220px;
    }

    .footer__list,
    .footer__address {
        padding: 0 5px 5px 5px;
    }
}

@media only screen and (max-width: 478px) {
    .footer__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer {
        height: 420px;
    }
}

.admin__wrapper {
    display: flex;
    flex-direction: column;
}

.admin__btn {
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 700;
    background-color: rgba(235, 112, 107, 0.5);
    border: 1px solid rgba(255, 238, 238, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 2px #787878;
    color: #424242;
    cursor: pointer;
}

.admin__add_sizes,
.admin__add_category,
.admin__btn:not(:last-child) {
    margin-bottom: 1em;
}

.admin__btn:hover {
    background-color: rgb(235, 112, 107, 1);
    box-shadow: none;
}

.admin__add_sizes,
.admin__add_category,
.admin__add_product {
    /*display: none;*/
    padding: 1em;
    background-color: rgba(235, 112, 107, 0.2);
    border: 1px solid rgba(255, 238, 238, 0.5);
    border-radius: 15px;
    font-size: 1em;
    color: #424242;
}

.admin__form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.admin__form-select,
.admin__form-input {
    padding: 1em;
    font-size: .75em;
    border: none;
    border-radius: 15px;
    margin-bottom: 1em;
    outline: none;
    color: #424242;
}

.admin__form-btn {
    align-self: flex-end;
    padding: 1em;
    margin-bottom: 1em;
    font-size: .75em;
    font-weight: 700;
    background-color: rgba(101, 201, 0, 0.6);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #424242;
}

.admin__form-btn:hover {
    background-color: rgba(101, 201, 0, 1);
}

optgroup,
option {
    font-size: 1rem;
}

.admin__form-info {
    display: flex;
    justify-content: space-between;
}

.admin__form-input.form-input-info {
    flex: 1 1 30%;
    margin-right: 1em;
}

.admin__form-btn.form-btn-info {
    background-color: rgba(201, 0, 0, 0.6);
}

.admin__form-btn.form-btn-info:hover {
    background-color: rgba(201, 0, 0, 1);
}